@model IEnumerable<Request>

@Html.Partial("_NavbarBackOffice")

<h2>All Requests</h2>
<table class="table-bordered" >
    <thead>
        <tr>
            <th>Tyre Dealer</th>
            <th>Date</th>
            <th>Quantity</th>
            <th>Weight</th>
            <th>Status</th>
            <th>Transporter</th>
            <th>Pickup Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.TyreDealerCompany</td>
                <td>@r.RequestDate.ToShortDateString()</td>
                <td>@r.Quantity</td>
                <td>
                    @(r.Weight.HasValue && r.Weight.Value > 0 ? $"{r.Weight} Kg" : "")
                </td>
                <td>@r.Status</td>
                <td>@r.TransporterCompany</td>
                <td>@(r.PickupDate?.ToShortDateString())</td>
            </tr>
        }
    </tbody>
</table>
