@model IEnumerable<AXX_poc_DiPaolo.Models.Request>

@Html.Partial("_NavbarBackOffice")

<h2>Completed Requests</h2>

@if (Model != null && Model.Any())
{
    <table class="table-bordered" >
        <thead>
            <tr>
                <th>Tyre Dealer</th>
                <th>Location</th>
                <th>Request Date</th>
                <th>Pickup Date</th>
                <th>Quantity</th>
                <th>Transporter</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model)
            {
                <tr>
                    <td>@r.TyreDealerCompany</td>
                    <td>@r.Location</td>
                    <td>@r.RequestDate.ToShortDateString()</td>
                    <td>@(r.PickupDate?.ToShortDateString())</td>
                    <td>@r.Quantity</td>
                    <td>@r.TransporterCompany</td>
                    <td>@(r.Weight) kg</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No request history found.</p>
}
